.DS_Store
.phpunit.result.cache
.phpunit.cache
.php_cs.cache
.php-cs-fixer.cache
.idea
vendor
node_modules
package-lock.json
tests/__fixtures__/users/.yaml
composer.lock

dist
!dist/.gitkeep
vite.hot
.env
