name: Test Suite

on:
  push:
  pull_request:

jobs:
  php_tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        php: [8.1, 8.0, 7.4]
        laravel: [9.*, 8.*]
        statamic: [^3.2, ^3.3]
        os: [ubuntu-latest]
        include:
          - laravel: 9.*
            framework: ^9.1.0
            testbench: 7.*
          - laravel: 8.*
            framework: ^8.24.0
            testbench: 6.*
        exclude:
          - laravel: 9.*
            statamic: ^3.2

    name: ${{ matrix.php }} - ${{ matrix.statamic }} - ${{ matrix.laravel }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Delete composer.lock
        run: rm composer.lock

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.framework }}" "statamic/cms:${{ matrix.statamic }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
          composer install --no-interaction

      - name: Run PHPUnit
        run: composer test
