name: Test Suite

on:
  push:
  pull_request:

jobs:
  php_tests:
    if: "!contains(github.event.head_commit.message, 'changelog')"

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        php: [8.2, 8.3]
        laravel: [10.*, 11.*]
        stability: [prefer-lowest, prefer-stable]
        os: [ubuntu-latest]
        include:
          - php: 8.4
            laravel: 10.*
            stability: prefer-stable
            os: ubuntu-latest
          - php: 8.4
            laravel: 11.*
            stability: prefer-stable
            os: ubuntu-latest

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick

      - name: Install dependencies
        run: |
          composer require "illuminate/contracts:${{ matrix.laravel }}" --no-interaction --no-update
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction --no-suggest

      - name: Run PHPUnit
        run: vendor/bin/phpunit --display-deprecation ${{ matrix.stability == 'prefer-stable' && '--fail-on-deprecation' || '' }}
